# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variables files
.env
.env.*
!.env.example

# Certificate
*.pem

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Next.js
.next/
next-env.d.ts

# output files
/*.txt
/*.md
!README.md
